#env
.env
.env.*
.env.local

# Secrets - never push these
chatapps-65e59-firebase-adminsdk-fbsvc-6f3111eaf1.json
fcm_secret.txt
fcm_secret_oneline.json
android/app/release.keystore

# Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.vite
